.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.homebody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeimg{
   background-image: url('https://t3.ftcdn.net/jpg/05/07/77/26/360_F_507772689_yCsO1CVCw2VuQGEypGEGKZ37djJYIiew.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
}
.home-content{
position: absolute;
text-shadow: #292986 10px 10px 25px ;
margin-top:5%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 500%;
letter-spacing: 0.30rem;
}
.navbar-nav{
    background-color: #C0D6E8;
    width: 100%;
    box-shadow: #292986 8px 5px 15px;
    text-align: center;
    justify-content: center;
}
